<!doctype html>
<html
  lang="en-US"
  dir="ltr"
  data-navigation-type="default"
  data-navbar-horizontal-shape="default"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicons/favicon-16x16.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/favicons/favicon.ico"
    />
    <link rel="manifest" href="../img/favicons/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="../img/favicons/mstile-150x150.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="/admin/vendors/simplebar/simplebar.min.js"></script>
    <script src="/js/config.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/admin/vendors/choices/choices.min.css" rel="stylesheet" />
    <link href="/admin/vendors/glightbox/glightbox.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link href="/admin/vendors/simplebar/simplebar.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link
      href="/css/theme-rtl.css"
      type="text/css"
      rel="stylesheet"
      id="style-rtl"
    />
    <link
      href="/css/theme.min.css"
      type="text/css"
      rel="stylesheet"
      id="style-default"
    />
    <link
      href="/css/user-rtl.min.css"
      type="text/css"
      rel="stylesheet"
      id="user-style-rtl"
    />
    <link
      href="/css/user.min.css"
      type="text/css"
      rel="stylesheet"
      id="user-style-default"
    />
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>

    <script
      src="https://cdn.tiny.cloud/1/m714jundcur08b881q7qay47h9tzu21x2xayvvxzk6b6v34z/tinymce/7/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav
        class="navbar navbar-vertical navbar-expand-lg"
        style="display: none"
      >
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <!-- scrollbar removed-->
          <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
              <li class="nav-item">
                <!-- parent pages-->

                <div class="nav-item-wrapper">
                  <a
                    class="nav-link label-1"
                    href="http://localhost:8080/admin/dashboard"
                    role="button"
                    data-bs-toggle=""
                    aria-expanded="false"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon">
                        <span data-feather="compass"></span></span
                      ><span class="nav-link-text-wrapper">
                        <span class="nav-link-text">Home</span>
                      </span>
                    </div>
                  </a>
                </div>

                <div class="nav-item-wrapper">
                  <a
                    class="nav-link label-1"
                    href="http://localhost:8080/admin/testimonies"
                    role="button"
                    data-bs-toggle=""
                    aria-expanded="false"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon">
                        <span data-feather="compass"></span></span
                      ><span class="nav-link-text-wrapper">
                        <span class="nav-link-text">Testimonies</span>
                      </span>
                    </div>
                  </a>
                </div>

                <div class="nav-item-wrapper">
                  <a
                    class="nav-link label-1"
                    href="http://localhost:8080/admin/upload-testimony"
                    role="button"
                    data-bs-toggle=""
                    aria-expanded="false"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon">
                        <span data-feather="compass"></span></span
                      ><span class="nav-link-text-wrapper">
                        <span class="nav-link-text">Upload Testimony</span>
                      </span>
                    </div>
                  </a>
                </div>

                <div class="nav-item-wrapper">
                  <a
                    class="nav-link label-1"
                    href=""
                    role="button"
                    data-bs-toggle=""
                    aria-expanded="false"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon">
                        <span data-feather="compass"></span></span
                      ><span class="nav-link-text-wrapper">
                        <span class="nav-link-text">Categories</span>
                      </span>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="navbar-vertical-footer">
          <button
            class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"
          >
            <span class="uil uil-left-arrow-to-left fs-8"></span
            ><span class="uil uil-arrow-from-right fs-8"></span
            ><span class="navbar-vertical-footer-text ms-2"
              >Collapsed View</span
            >
          </button>
        </div>
      </nav>

      <nav
        class="navbar navbar-top fixed-top navbar-expand"
        id="navbarDefault"
        style="display: none"
      >
        <div class="collapse navbar-collapse justify-content-between">
          <div class="navbar-logo">
            <button
              class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarVerticalCollapse"
              aria-controls="navbarVerticalCollapse"
              aria-expanded="false"
              aria-label="Toggle Navigation"
            >
              <span class="navbar-toggle-icon"
                ><span class="toggle-line"></span
              ></span>
            </button>
            <a class="navbar-brand me-1 me-sm-3" href="index.html">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <img src="/img/icons/logo.png" alt="phoenix" width="27" />
                  <h5 class="logo-text ms-2 d-none d-sm-block">phoenix</h5>
                </div>
              </div>
            </a>
          </div>

          <ul class="navbar-nav navbar-nav-icons flex-row">
            <li class="nav-item">
              <div class="theme-control-toggle fa-icon-wait px-2">
                <input
                  class="form-check-input ms-0 theme-control-toggle-input"
                  type="checkbox"
                  data-theme-control="phoenixTheme"
                  value="dark"
                  id="themeControlToggle"
                /><label
                  class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                  for="themeControlToggle"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Switch theme"
                  style="height: 32px; width: 32px"
                  ><span class="icon" data-feather="moon"></span></label
                ><label
                  class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                  for="themeControlToggle"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Switch theme"
                  style="height: 32px; width: 32px"
                  ><span class="icon" data-feather="sun"></span
                ></label>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="#"
                style="min-width: 2.25rem"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                data-bs-auto-close="outside"
                ><span class="d-block" style="height: 20px; width: 20px"
                  ><span
                    data-feather="bell"
                    style="height: 20px; width: 20px"
                  ></span></span
              ></a>
              <div
                class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret"
                id="navbarDropdownNotfication"
                aria-labelledby="navbarDropdownNotfication"
              >
                <div class="card position-relative border-0">
                  <div class="card-header p-2">
                    <div class="d-flex justify-content-between">
                      <h5 class="text-body-emphasis mb-0">Notifications</h5>
                      <button
                        class="btn btn-link p-0 fs-9 fw-normal"
                        type="button"
                      >
                        Mark all as read
                      </button>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="scrollbar-overlay" style="height: 27rem">
                      <div
                        class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom"
                      >
                        <div
                          class="d-flex align-items-center justify-content-between position-relative"
                        >
                          <div class="d-flex">
                            <div class="avatar avatar-m status-online me-3">
                              <img
                                class="rounded-circle"
                                src="/img/team/40x40/30.webp"
                                alt=""
                              />
                            </div>
                            <div class="flex-1 me-sm-3">
                              <h4 class="fs-9 text-body-emphasis">
                                Jessie Samson
                              </h4>
                              <p
                                class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"
                              >
                                <span class="me-1 fs-10">💬</span>Mentioned you
                                in a comment.<span
                                  class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"
                                  >10m</span
                                >
                              </p>
                              <p class="text-body-secondary fs-9 mb-0">
                                <span class="me-1 fas fa-clock"></span
                                ><span class="fw-bold">10:41 AM </span>August
                                7,2021
                              </p>
                            </div>
                          </div>
                          <div class="dropdown notification-dropdown">
                            <button
                              class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                              type="button"
                              data-bs-toggle="dropdown"
                              data-boundary="window"
                              aria-haspopup="true"
                              aria-expanded="false"
                              data-bs-reference="parent"
                            >
                              <span
                                class="fas fa-ellipsis-h fs-10 text-body"
                              ></span>
                            </button>
                            <div class="dropdown-menu py-2">
                              <a class="dropdown-item" href="#!"
                                >Mark as unread</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom"
                      >
                        <div
                          class="d-flex align-items-center justify-content-between position-relative"
                        >
                          <div class="d-flex">
                            <div class="avatar avatar-m status-online me-3">
                              <div class="avatar-name rounded-circle">
                                <span>J</span>
                              </div>
                            </div>
                            <div class="flex-1 me-sm-3">
                              <h4 class="fs-9 text-body-emphasis">
                                Jane Foster
                              </h4>
                              <p
                                class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"
                              >
                                <span class="me-1 fs-10">📅</span>Created an
                                event.<span
                                  class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"
                                  >20m</span
                                >
                              </p>
                              <p class="text-body-secondary fs-9 mb-0">
                                <span class="me-1 fas fa-clock"></span
                                ><span class="fw-bold">10:20 AM </span>August
                                7,2021
                              </p>
                            </div>
                          </div>
                          <div class="dropdown notification-dropdown">
                            <button
                              class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                              type="button"
                              data-bs-toggle="dropdown"
                              data-boundary="window"
                              aria-haspopup="true"
                              aria-expanded="false"
                              data-bs-reference="parent"
                            >
                              <span
                                class="fas fa-ellipsis-h fs-10 text-body"
                              ></span>
                            </button>
                            <div class="dropdown-menu py-2">
                              <a class="dropdown-item" href="#!"
                                >Mark as unread</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom"
                      >
                        <div
                          class="d-flex align-items-center justify-content-between position-relative"
                        >
                          <div class="d-flex">
                            <div class="avatar avatar-m status-online me-3">
                              <img
                                class="rounded-circle avatar-placeholder"
                                src="/img/team/40x40/avatar.webp"
                                alt=""
                              />
                            </div>
                            <div class="flex-1 me-sm-3">
                              <h4 class="fs-9 text-body-emphasis">
                                Jessie Samson
                              </h4>
                              <p
                                class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"
                              >
                                <span class="me-1 fs-10">👍</span>Liked your
                                comment.<span
                                  class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"
                                  >1h</span
                                >
                              </p>
                              <p class="text-body-secondary fs-9 mb-0">
                                <span class="me-1 fas fa-clock"></span
                                ><span class="fw-bold">9:30 AM </span>August
                                7,2021
                              </p>
                            </div>
                          </div>
                          <div class="dropdown notification-dropdown">
                            <button
                              class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                              type="button"
                              data-bs-toggle="dropdown"
                              data-boundary="window"
                              aria-haspopup="true"
                              aria-expanded="false"
                              data-bs-reference="parent"
                            >
                              <span
                                class="fas fa-ellipsis-h fs-10 text-body"
                              ></span>
                            </button>
                            <div class="dropdown-menu py-2">
                              <a class="dropdown-item" href="#!"
                                >Mark as unread</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom"
                      >
                        <div
                          class="d-flex align-items-center justify-content-between position-relative"
                        >
                          <div class="d-flex">
                            <div class="avatar avatar-m status-online me-3">
                              <img
                                class="rounded-circle"
                                src="/img/team/40x40/57.webp"
                                alt=""
                              />
                            </div>
                            <div class="flex-1 me-sm-3">
                              <h4 class="fs-9 text-body-emphasis">
                                Kiera Anderson
                              </h4>
                              <p
                                class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"
                              >
                                <span class="me-1 fs-10">💬</span>Mentioned you
                                in a comment.<span
                                  class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"
                                ></span>
                              </p>
                              <p class="text-body-secondary fs-9 mb-0">
                                <span class="me-1 fas fa-clock"></span
                                ><span class="fw-bold">9:11 AM </span>August
                                7,2021
                              </p>
                            </div>
                          </div>
                          <div class="dropdown notification-dropdown">
                            <button
                              class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                              type="button"
                              data-bs-toggle="dropdown"
                              data-boundary="window"
                              aria-haspopup="true"
                              aria-expanded="false"
                              data-bs-reference="parent"
                            >
                              <span
                                class="fas fa-ellipsis-h fs-10 text-body"
                              ></span>
                            </button>
                            <div class="dropdown-menu py-2">
                              <a class="dropdown-item" href="#!"
                                >Mark as unread</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom"
                      >
                        <div
                          class="d-flex align-items-center justify-content-between position-relative"
                        >
                          <div class="d-flex">
                            <div class="avatar avatar-m status-online me-3">
                              <img
                                class="rounded-circle"
                                src="/img/team/40x40/59.webp"
                                alt=""
                              />
                            </div>
                            <div class="flex-1 me-sm-3">
                              <h4 class="fs-9 text-body-emphasis">
                                Herman Carter
                              </h4>
                              <p
                                class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"
                              >
                                <span class="me-1 fs-10">👤</span>Tagged you in
                                a comment.<span
                                  class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"
                                ></span>
                              </p>
                              <p class="text-body-secondary fs-9 mb-0">
                                <span class="me-1 fas fa-clock"></span
                                ><span class="fw-bold">10:58 PM </span>August
                                7,2021
                              </p>
                            </div>
                          </div>
                          <div class="dropdown notification-dropdown">
                            <button
                              class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                              type="button"
                              data-bs-toggle="dropdown"
                              data-boundary="window"
                              aria-haspopup="true"
                              aria-expanded="false"
                              data-bs-reference="parent"
                            >
                              <span
                                class="fas fa-ellipsis-h fs-10 text-body"
                              ></span>
                            </button>
                            <div class="dropdown-menu py-2">
                              <a class="dropdown-item" href="#!"
                                >Mark as unread</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="px-2 px-sm-3 py-3 notification-card position-relative read"
                      >
                        <div
                          class="d-flex align-items-center justify-content-between position-relative"
                        >
                          <div class="d-flex">
                            <div class="avatar avatar-m status-online me-3">
                              <img
                                class="rounded-circle"
                                src="../img/team/40x40/58.webp"
                                alt=""
                              />
                            </div>
                            <div class="flex-1 me-sm-3">
                              <h4 class="fs-9 text-body-emphasis">
                                Benjamin Button
                              </h4>
                              <p
                                class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"
                              >
                                <span class="me-1 fs-10">👍</span>Liked your
                                comment.<span
                                  class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"
                                ></span>
                              </p>
                              <p class="text-body-secondary fs-9 mb-0">
                                <span class="me-1 fas fa-clock"></span
                                ><span class="fw-bold">10:18 AM </span>August
                                7,2021
                              </p>
                            </div>
                          </div>
                          <div class="dropdown notification-dropdown">
                            <button
                              class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                              type="button"
                              data-bs-toggle="dropdown"
                              data-boundary="window"
                              aria-haspopup="true"
                              aria-expanded="false"
                              data-bs-reference="parent"
                            >
                              <span
                                class="fas fa-ellipsis-h fs-10 text-body"
                              ></span>
                            </button>
                            <div class="dropdown-menu py-2">
                              <a class="dropdown-item" href="#!"
                                >Mark as unread</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-footer p-0 border-top border-translucent border-0"
                  >
                    <div
                      class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opactity-85"
                    >
                      <a class="fw-bolder" href="pages/notifications.html"
                        >Notification history</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link lh-1 pe-0"
                id="navbarDropdownUser"
                href="#!"
                role="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="avatar avatar-l">
                  <img
                    class="rounded-circle"
                    src="../img/team/40x40/57-1.webp"
                    alt=""
                  />
                </div>
              </a>
              <div
                class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border"
                aria-labelledby="navbarDropdownUser"
              >
                <div class="card position-relative border-0">
                  <div class="card-body p-0">
                    <div class="text-center pt-4 pb-3">
                      <div class="avatar avatar-xl">
                        <img
                          class="rounded-circle"
                          src="../img/team/72x72/57-1.webp"
                          alt=""
                        />
                      </div>
                      <h6 class="mt-2 text-body-emphasis">Jerry Seinfield</h6>
                    </div>
                    <div class="mb-3 mx-3">
                      <input
                        class="form-control form-control-sm"
                        id="statusUpdateInput"
                        type="text"
                        placeholder="Update your status"
                      />
                    </div>
                  </div>
                  <div class="overflow-auto scrollbar" style="height: 10rem">
                    <ul class="nav d-flex flex-column mb-2 pb-1">
                      <li class="nav-item">
                        <a class="nav-link px-3 d-block" href="#!"
                          ><span
                            class="me-2 text-body align-bottom"
                            data-feather="pie-chart"
                          ></span
                          >Dashboard</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link px-3 d-block" href="#!">
                          <span
                            class="me-2 text-body align-bottom"
                            data-feather="lock"
                          ></span
                          >Posts &amp; Activity</a
                        >
                      </li>
                      <!-- <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="settings"></span>Settings &amp; Privacy </a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="help-circle"></span>Help Center</a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="globe"></span>Language</a></li> -->
                    </ul>
                  </div>
                  <div class="card-footer p-0 border-top border-translucent">
                    <hr />
                    <div class="px-3">
                      <a
                        class="btn btn-phoenix-secondary d-flex flex-center w-100"
                        href="#!"
                      >
                        <span class="me-2" data-feather="log-out"> </span>Sign
                        out</a
                      >
                    </div>
                    <div
                      class="my-2 text-center fw-bold fs-10 text-body-quaternary"
                    >
                      <a class="text-body-quaternary me-1" href="#!"
                        >Privacy policy</a
                      >&bull;<a class="text-body-quaternary mx-1" href="#!"
                        >Terms</a
                      >&bull;<a class="text-body-quaternary ms-1" href="#!"
                        >Cookies</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <script>
        var navbarTopShape = window.config.config.phoenixNavbarTopShape;
        var navbarPosition = window.config.config.phoenixNavbarPosition;
        var body = document.querySelector('body');
        var navbarDefault = document.querySelector('#navbarDefault');
        var navbarTop = document.querySelector('#navbarTop');
        var topNavSlim = document.querySelector('#topNavSlim');
        var navbarTopSlim = document.querySelector('#navbarTopSlim');
        var navbarCombo = document.querySelector('#navbarCombo');
        var navbarComboSlim = document.querySelector('#navbarComboSlim');
        var dualNav = document.querySelector('#dualNav');

        var documentElement = document.documentElement;
        var navbarVertical = document.querySelector('.navbar-vertical');

        if (navbarPosition === 'dual-nav') {
          topNavSlim?.remove();
          navbarTop?.remove();
          navbarTopSlim?.remove();
          navbarCombo?.remove();
          navbarComboSlim?.remove();
          navbarDefault?.remove();
          navbarVertical?.remove();
          dualNav.removeAttribute('style');
          document.documentElement.setAttribute('data-navigation-type', 'dual');
        } else if (navbarTopShape === 'slim' && navbarPosition === 'vertical') {
          navbarDefault?.remove();
          navbarTop?.remove();
          navbarTopSlim?.remove();
          navbarCombo?.remove();
          navbarComboSlim?.remove();
          topNavSlim.style.display = 'block';
          navbarVertical.style.display = 'inline-block';
          document.documentElement.setAttribute(
            'data-navbar-horizontal-shape',
            'slim',
          );
        } else if (
          navbarTopShape === 'slim' &&
          navbarPosition === 'horizontal'
        ) {
          navbarDefault?.remove();
          navbarVertical?.remove();
          navbarTop?.remove();
          topNavSlim?.remove();
          navbarCombo?.remove();
          navbarComboSlim?.remove();
          dualNav?.remove();
          navbarTopSlim.removeAttribute('style');
          document.documentElement.setAttribute(
            'data-navbar-horizontal-shape',
            'slim',
          );
        } else if (navbarTopShape === 'slim' && navbarPosition === 'combo') {
          navbarDefault?.remove();
          navbarTop?.remove();
          topNavSlim?.remove();
          navbarCombo?.remove();
          navbarTopSlim?.remove();
          dualNav?.remove();
          navbarComboSlim.removeAttribute('style');
          navbarVertical.removeAttribute('style');
          document.documentElement.setAttribute(
            'data-navbar-horizontal-shape',
            'slim',
          );
        } else if (
          navbarTopShape === 'default' &&
          navbarPosition === 'horizontal'
        ) {
          navbarDefault?.remove();
          topNavSlim?.remove();
          navbarVertical?.remove();
          navbarTopSlim?.remove();
          navbarCombo?.remove();
          navbarComboSlim?.remove();
          dualNav?.remove();
          navbarTop.removeAttribute('style');
          document.documentElement.setAttribute(
            'data-navigation-type',
            'horizontal',
          );
        } else if (navbarTopShape === 'default' && navbarPosition === 'combo') {
          topNavSlim?.remove();
          navbarTop?.remove();
          navbarTopSlim?.remove();
          navbarDefault?.remove();
          navbarComboSlim?.remove();
          dualNav?.remove();
          navbarCombo.removeAttribute('style');
          navbarVertical.removeAttribute('style');
          document.documentElement.setAttribute(
            'data-navigation-type',
            'combo',
          );
        } else {
          topNavSlim?.remove();
          navbarTop?.remove();
          navbarTopSlim?.remove();
          navbarCombo?.remove();
          navbarComboSlim?.remove();
          dualNav?.remove();
          navbarDefault.removeAttribute('style');
          navbarVertical.removeAttribute('style');
        }

        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

        var navbarVerticalStyle =
          window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVerticalStyle === 'darker') {
          navbarVertical.setAttribute('data-navbar-appearance', 'darker');
        }
      </script>
      <div class="content">
        <div class="pb-9">
          <h2 class="mb-4 mb-lg-6">Testimony Info</h2>
          <!-- <img class="rounded w-100 object-fit-cover mb-5 mb-md-6 mb-xl-8" src="../img/generic/34.png" alt="" style="min-height: 250px;" /> -->
          <div class="row gx-lg-9">
            <div class="col-xl-8 border-end-xl">
              <div class="card mb-9">
                <div class="card-body">
                  <h1 class="lh-sm fs-6 fs-xxl-4 mb-2"><%= testimony.firstname %> <%= testimony.lastname %></h1>
                  <p class="fs-8 mb-4 text-body-tertiary"><%= testimony.address %></p>
                  <div class="card mb-5 mb-xxl-7">
                    <div class="card-body">
                      <div class="row gy-5">
                        <div class="col-md-6 d-flex justify-content-between">
                          <div>
                            <div class="mb-3">
                              <div class="d-flex align-items-center">
                                <div class="px-2 py-1 bg-info-subtle rounded">
                                  <span
                                    class="text-info"
                                    data-feather="map-pin"
                                  ></span>
                                </div>
                                <h5 class="ms-2 text-body-emphasis mb-0">
                                  Location
                                </h5>
                              </div>
                            </div>
                            <p class="lh-sm mb-0 text-body-tertiary">
                              <%= testimony.address %>
                            </p>
                          </div>
                          <div
                            class="my-4 mx-3 border-start border-translucent d-none d-md-block"
                          ></div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <div class="d-flex align-items-center">
                              <div class="px-2 py-1 bg-primary-subtle rounded">
                                <span
                                  class="text-primary"
                                  data-feather="clock"
                                ></span>
                              </div>
                              <h5 class="ms-2 mb-0">Date &amp; Time</h5>
                            </div>
                          </div>
                          <p class="lh-sm mb-0 text-body-tertiary">
                            <%= new Date(testimony.createdAt).toDateString().toUpperCase() %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row g-2">
                    <div class="col-12 col-md-auto flex-md-grow-1"><button class="btn btn-primary w-100" type="button">Get Tickets</button></div>
                    <div class="col-12 col-sm-auto flex-sm-grow-1 flex-md-grow-0"><button class="btn btn-phoenix-primary w-100" type="button"><span class="fa-regular fa-calendar-plus me-2"></span>Add to Calendar </button></div>
                    <div class="col-6 col-sm-auto"><button class="btn btn-phoenix-primary w-100" type="button"><span class="fa-solid fa-heart me-2"></span>3677</button></div>
                    <div class="col-6 col-sm-auto"><button class="btn btn-phoenix-primary w-100" type="button"><span class="fa-solid fa-share-nodes me-2"></span>4467</button></div>
                  </div> -->
                </div>
              </div>
              <h2 class="mb-3">Testimony information</h2>
              <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                <div class="col-6">
                  <a
                    href="#"
                    data-gallery="gallery-posts-undefined"
                    ><img
                      class="rounded h-100 w-100 object-fit-cover"
                      src="<%= testimony.image %>""
                      alt="Testimony Image"
                  /></a>
                </div>
              </div>
              <div class="mb-0">
                <label class="form-label" for="exampleTextarea">Your testimony</label>
                    <div class="form-group relative ">
                      <textarea
                        class="form-control input-white shadow-5"
                        name="message"
                        id="message"
                        cols="30"
                        rows="7"
                        placeholder="Your message"
                      ></textarea>
                      <span id="messageError" class="text-danger"></span>
                    </div>
                </div>
              <!-- testimony button -->
              <div class="card-body p-0 text-center">
                <div class="p-4 code-to-copy">
                  <button
                    class="btn btn-primary btn-lg me-1 mb-1"
                    type="button"
                    id="update-testimony-btn"
                    onclick="updateTestimony('<%= testimony.uuid %>')"
                  >
                    Save
                  </button>
                  <button
                    class="btn btn-primary btn-lg me-1 mb-1"
                    type="button"
                    id="update-testimony-btn"
                    onclick="updateTestimony('<%= testimony.uuid %>', 'APPROVED')"
                    <%= testimony.status === 'APPROVED' ? 'disabled' : '' %>
                  >
                    Approve
                  </button>
                  <button
                    class="btn btn-danger btn-lg me-1 mb-1"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    <%= testimony.status === 'REJECTED' ? 'disabled' : '' %>
                  >
                    Reject
                  </button>
                  
                  <div class="collapse" id="collapseExample">
                    <label class="form-label" for="exampleTextarea"> </label>
                    <textarea
                      class="form-control"
                      id="rejectionReason"
                      rows="3"
                    >
                    </textarea>
                    <div class="card-body p-0 text-center">
                      <div class="p-4 code-to-copy">
                        <button
                          class="btn btn-primary btn-lg me-1 mb-1"
                          type="button"
                          onclick="updateTestimony('<%= testimony.uuid %>', 'REJECTED')"
                        >
                          Send
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pb-9">
                <h2 class="mb-4 mb-lg-6">Comments</h2>
                <div id="comments-container" class="list-group">
                  <!-- Comments will be dynamically rendered here -->
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <h3 class="mb-3">Category</h3>
              <div
                class="d-flex flex-wrap pb-7 border-bottom border-translucent"
              >
                <span class="badge badge-tag me-2 mb-2"><%= testimony.category.name %></span>
              </div>
              <div
                class="row g-0 py-3 border-bottom border-dashed align-items-end justify-content-between"
              >
                <div class="col-auto">
                  <h3 class="flex-1 mb-0 text-nowrap me-3">
                    Pending Testimony
                  </h3>
                </div>
              </div>
              <div id="unpublished-container">
                <% unpublishedTestimonies.forEach((testimony) => { %>
                  <div class="py-3 border-bottom border-translucent border-dashed">
                    <div class="d-flex flex-between-center">
                      <p class="text-warning fs-10 mb-0 fw-bold mb-1">
                        <%= new Date(testimony.createdAt).toDateString().toUpperCase() %>
                      </p>
                      <div class="btn-reveal-trigger">
                        <button
                          class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal"
                          type="button"
                          data-bs-toggle="dropdown"
                          data-boundary="window"
                          aria-haspopup="true"
                          aria-expanded="false"
                          data-bs-reference="parent"
                        >
                          <span class="fas fa-ellipsis-h"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end py-2">
                          <a class="dropdown-item" href="#!" onclick="editTestimony('<%= testimony.uuid %>')">Edit</a>
                          <a class="dropdown-item text-danger" href="#!" onclick="deleteTestimony('<%= testimony.uuid %>')">Delete</a>
                          <a class="dropdown-item" href="<%= testimony.image %>" download>Download</a>
                          <a class="dropdown-item" href="#!" onclick="reportAbuse('<%= testimony.uuid %>')">Report abuse</a>
                        </div>
                      </div>
                    </div>
                    <a
                      class="text-primary-hover text-body-highlight fw-bold mb-2 line-clamp-1 me-5 lh-base"
                      href="<%= testimony.uuid %>"
                    >
                      <%= testimony.firstname %> <%= testimony.lastname %>
                    </a>
                    <p class="fs-9 text-body-tertiary fw-bold mb-1">
                      <span class="fa-solid fa-message text-body-secondary me-1"></span>
                      <%= (() => {
                        const words = testimony.testimony.split(' ');
                        if (words.length > 24) {
                          return words.slice(0, 24).join(' ') + '...';
                        }
                        return testimony.testimony;
                      })() %>
                    </p>
                    <p class="fs-9 text-body-tertiary fw-bold mb-0">
                      <span class="fa-solid fa-map-marker-alt text-body-secondary me-1"></span>
                      <%= testimony.address %>
                    </p>
                  </div>
                <% }) %>

              </div>

              <div
                class="card shadow-none border my-4"
                data-component-card="data-component-card"
              >
                <div class="card-header p-4 border-bottom bg-body">
                  <div
                    class="row g-3 justify-content-between align-items-center"
                  >
                    <div class="col-12 col-md">
                      <h4 class="text-body mb-0" data-anchor="data-anchor">
                        Edit Category
                      </h4>
                    </div>
                    <div class="col col-md-auto">
                      <nav
                        class="nav justify-content-end doc-tab-nav align-items-center"
                        role="tablist"
                      >
                        <button
                          class="btn btn-link px-2 text-body copy-code-btn"
                          type="button"
                        ></button>
                        <a
                          class="btn btn-sm btn-phoenix-primary code-btn ms-2"
                          data-bs-toggle="collapse"
                          href="#default-code"
                          role="button"
                          aria-controls="default-code"
                          aria-expanded="false"
                        ></a>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="p-4 code-to-copy">
                    <select class="form-select" id="category">
                      <option selected value="">Choose...</option>
                    </select>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-body">
                Thank you for creating with Phoenix<span
                  class="d-none d-sm-inline-block"
                ></span
                ><span class="d-none d-sm-inline-block mx-1">|</span
                ><br class="d-sm-none" />2024 &copy;<a
                  class="mx-1"
                  href="https://themewagon.com"
                  >Themewagon</a
                >
              </p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-body-tertiary text-opacity-85">v1.19.0</p>
            </div>
          </div>
        </footer>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/admin/vendors/popper/popper.min.js"></script>
    <script src="/admin/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/admin/vendors/anchorjs/anchor.min.js"></script>
    <script src="/admin/vendors/is/is.min.js"></script>
    <script src="/admin/vendors/fontawesome/all.min.js"></script>
    <script src="/admin/vendors/lodash/lodash.min.js"></script>
    <script src="/admin/vendors/list.js/list.min.js"></script>
    <script src="/admin/vendors/feather-icons/feather.min.js"></script>
    <script src="/admin/vendors/dayjs/dayjs.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbaQGvhe7Af-uOMJz68NWHnO34UjjE7Lo&callback=initMap"
      async
    ></script>
    <script src="/admin/vendors/choices/choices.min.js"></script>
    <script src="/admin/vendors/glightbox/glightbox.min.js"></script>
    <script src="/js/phoenix.js"></script>

    <script>
     const updateTestimony = async (uuid, status) => {
     try {
        const category = document.getElementById('category').value;
        const message = document.getElementById('message').value;
        console.log('message', message);
        const rejectionReason = document.getElementById('rejectionReason').value;

        // const textarea = document.getElementById('message');
        // textarea.value = 'New value';
        // console.log(textarea.value);

        let updates = { testimony: message };

        if (status) {
          updates.status = status;
        }

        if (category !== "") {
          updates.categoryUuid = category;
        }

        if (status === 'REJECTED') {
          if (!rejectionReason) {
            alert('Please provide a reason for rejecting the testimony');
            return; // Stop further execution
          }
          updates.rejectionReason = rejectionReason; // Add rejection reason
        }

        const updateResponse = await fetch(
          `http://localhost:8080/admin/testimony/${uuid}`,
          {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(updates),
          },
        );

        if (!updateResponse.ok) {
          throw new Error('Failed to update testimony');
        }

        const updatedTestimony = await updateResponse.json();
        console.log('Testimony updated successfully:', updatedTestimony);

        alert(`Testimony updates successfully!`);

        window.location.reload();
        
        return updatedTestimony;
      } catch (error) {
        console.error('Error updating testimony:', error);
        alert('Error updating testimony. Please try again later.');
        throw error; // Re-throw the error if needed
      }

    };


// document
//   .getElementById('update-testimony-btn')
//   .addEventListener('click', () => {
//     console.log('Update testimony button clicked');
//     updateTestimony('<%= testimony.uuid %>');
//   });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const uuid = '<%= testimony.uuid %>'; // Testimony UUID
        const commentsContainer = document.getElementById('comments-container');

        // Fetch Comments
        async function fetchComments() {
          try {
            const response = await fetch(`http://localhost:8080/admin/testimony/${uuid}/comments`);
            const comments = await response.json();

            // Clear existing comments
            commentsContainer.innerHTML = '';

            if (comments.length === 0) {
              commentsContainer.innerHTML = '<p class="text-body-tertiary">No comments available.</p>';
              return;
            }

            console.log('Fetched comments:', comments);

            // Render each comment
            comments.forEach((comment) => {
              const commentItem = document.createElement('div');
              commentItem.className = 'list-group-item d-flex justify-content-between align-items-start';
              commentItem.innerHTML = `
                <div>
                  <h5 class="mb-1 text-body-emphasis">${comment.name}</h5>
                  <p class="mb-1">${comment.comment}</p>
                  <small class="text-body-tertiary">${new Date(comment.createdAt).toDateString().toUpperCase()}</small>
                </div>
                <button class="btn btn-danger btn-sm" onclick="deleteComment('${comment.uuid}')">Delete</button>
              `;
              commentsContainer.appendChild(commentItem);
            });
          } catch (error) {
            console.error('Error fetching comments:', error);
            commentsContainer.innerHTML = '<p class="text-danger">Failed to load comments.</p>';
          }
        }

        async function fetchCategories() {
        try {
          const response = await fetch('http://localhost:8080/admin/allcategories');
          let allCategories = await response.json();
          console.log("allCategories", allCategories);
          allCategories = allCategories.categories;

          const categorySelect = document.getElementById('category');

          if (allCategories.length > 0) {
            allCategories.forEach((category) => {
              console.log("category", category);
              const option = document.createElement('option');
              option.value = category.uuid;
              option.text = category.name;
              categorySelect.appendChild(option);
            });
          } else {
            const option = document.createElement('option');
            option.value = '';
            option.text = 'No categories available';
            categorySelect.appendChild(option);
          }
        } catch (error) {
          console.error('Error fetching categories:', error);
        }
      }

        // Delete Comment
        async function deleteComment(commentId) {
          const uuid = '<%= testimony.uuid %>';
          if (!confirm('Are you sure you want to delete this comment?')) return;

          try {
            const response = await fetch(`http://localhost:8080/admin/testimony/${uuid}/comments/${commentId}`, {
              method: 'DELETE',
            });

            if (!response.ok) {
              throw new Error('Failed to delete comment');
            }

            alert('Comment deleted successfully');
            fetchComments();
          } catch (error) {
            console.error('Error deleting comment:', error);
            alert('Failed to delete the comment.');
          }
        }

        // Initial Load
        fetchComments();
        fetchCategories();

        // Expose deleteComment globally
        window.deleteComment = deleteComment;

        tinymce.init({
          selector: '#message',
          plugins:
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          toolbar_mode: 'floating',
        });
      });

      const message = document.getElementById('message').value = '<%= testimony.testimony %>';

    </script>
  </body>
</html>
